on post-fs
    mount configfs none /config

    mkdir /dev/usb-ffs 0770 root shell
    mkdir /dev/usb-ffs/adb 0770 root shell

    mkdir /config/usb_gadget/g1 0770 root shell
    mkdir /config/usb_gadget/g1/strings/0x409 0770 root shell
    write /config/usb_gadget/g1/strings/0x409/manufacturer Android
    write /config/usb_gadget/g1/strings/0x409/product recovery

    mkdir /config/usb_gadget/g1/functions/ffs.adb 0770 root shell
    mkdir /config/usb_gadget/g1/configs/b.1 0770 root shell
    mkdir /config/usb_gadget/g1/configs/b.1/strings/0x409 0770 root shell
    write /config/usb_gadget/g1/configs/b.1/strings/0x409/configuration adb
    symlink /config/usb_gadget/g1/functions/ffs.adb /config/usb_gadget/g1/configs/b.1/ffs.adb

    # functionfs mount with adb-friendly perms
    mount functionfs adb /dev/usb-ffs/adb uid=2000,gid=1000,rmode=0775,fmode=0664

    # Google vendor/product IDs
    write /config/usb_gadget/g1/idVendor 0x18d1
    write /config/usb_gadget/g1/idProduct 0xD001

    # bind first UDC
    exec -- /bin/sh -c 'for d in /sys/class/udc/*; do echo ${d##*/} > /config/usb_gadget/g1/UDC && exit 0; done'

    start adbd
